<%- include('head') %> 
<h1>Courses</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id deserunt officiis totam molestiae esse ex architecto maxime hic officia! Quasi similique, ipsum corporis a, consectetur illum sit maiores esse, exercitationem asperiores doloribus totam. Consectetur tenetur a maxime omnis doloribus reiciendis officiis harum explicabo, esse dolore eius repudiandae provident voluptas qui! Commodi delectus quas quia perspiciatis explicabo tenetur debitis eius nam quo? Molestiae quae nesciunt debitis inventore possimus error harum doloremque, ipsam numquam quasi doloribus incidunt perspiciatis odit facilis nulla eveniet!</p>

<%- include('footer') %> 