<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="materialize/js/materialize.min.js" />
    <script src="all.js"></script>
    <title>GMT Software | <%= title %> </title>
    <style>
      
    </style>
  </head>
  <body>
    
    <!-- navbar -->

    <header>
      <nav class="nav-wrapper black darken-4 nav">
        <div class="container">
          <a href="" class="brand-logo"
            ><img src="../img/GMT LOGO-01vv.png" alt="" width="100px"
          /></a>
          
          <a href="" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down ">
            
            <li><a href="/">Home</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="#book">Contact</a></li>
            <li>
              <a
                href="#"
                class="tooltipped btn-floating btn-small red darken-4"
                data-tooltip="This is Instagram"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="tooltipped btn-floating btn-small red darken-4"
                data-tooltip="This is Facebook"
              >
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="tooltipped btn-floating btn-small red darken-4"
                data-tooltip="This is Twitter"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>

          <ul class="sidenav gray darken-3" id="mobile-menu">
            
            <li><a href="/">Home</a></li>
            <li><a href="#courses">courses</a></li>
            <li><a href="#book">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="container  center-align white-text lead">
        <h2 class="valign-wrapper intro-text">GREAT MIND TECHNOLOGY AND SOFTWARE SOLUTIONS</h2>
        <h3 class="flow-text">THE FASTEST WAY TO LEARN TO CODE & BUILD YOUR OWN APPS</h3>
        <a href="#book"><button class="btn red darken-4 " type="submit">BOOK NOW</button></a>
      </div>
    </header>
    <button class="tooltipped" id="toggle" onclick="mode()" data-tooltip="Light and Dark Mode Toggle"></button>
