

<%- include('head') %> 


    <section class="gray-bg pv-60">
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <h2>Industry-led. Industry leading.</h2>
          </div>
        </div>
        <div class="row pt-20 mb-30">
          <div class="col xs12 s12  l12 sm-offset-2 center-align">
            <h5 class="h5-large-spacing medium">
              If you want to learn all the skills you need to become a software
              developer, Great Mind Technology and Software Solutions is here for you
            </h5>
            <p>
              And what’s more, if, after Introduction Week (which costs #***),
              you don’t want to continue onto the full coding bootcamp, we’ll
              refund your entire 13-week bootcamp fee,
              <strong>with no quibble</strong>.
            </p>
          </div>
        </div>
        <div class="row">
<div class="col s12  l4 center-align">
          <h1 class="red-text  text-darken-4 text-center m-0">
            <i class="fa fa-certificate"></i>
          </h1>
          <h4 class="m-0 pv-10 center-align ">
            A multi-award-winning<br />experience
          </h4>
          <p class="text-justify">
            Constantly updated to match the skills employers tell us they want,
            and taught by our experts. There's no curriculum like it.
          </p>
        </div>
        <div class="col s12  l4 center-align">
          <h1 class="red-text  text-darken-4 center-align  m-0"><i class="fa fa-forward"></i></h1>
          <h4 class="m-0 pv-10 text-center">Your career<br />comes first</h4>
          <p class="text-justify">
            Build a portfolio to impress, with seven specialist career sessions
            led by our Career Development Experts. We're trusted by
             across the country.
          </p>
        </div>
        <div class="col s12 l4 center-align">
          <h1 class="red-text  text-darken-4 center-align  m-0"><i class="fa fa-laptop"></i></h1>
          <h4 class="m-0 pv-10 text-center">
            Become a<br />software developer
          </h4>
          <p class="text-justify">
            You'll learn the skills that you need to become a full-stack
            software developer and graduate with confidence in your skills.
          </p>
        </div>
      </div>
    </section>

    <!-- photo / grid -->

    <section>
      <div class="container scrollspy section" id="photos">
      <h3 class="center-align" style="padding: 50px;">WHAT YOU'LL GET FROM THE COURSE</h3>
      <div class="row">
        <div class="col s12 l4">
          <img
            src="https://www.londonappbrewery.com/wp-content/uploads/2015/10/Learn-App-Programming-thumb.png"
            alt=""
            class="responsive-img materialboxed"
          />
        </div>
        <div class="col s12 l6 offset-l1">
          <a href="#"><h5 class="red-text text-darken-4 center-align  what-we-do">LEARN TO CODE</h5></a>
          
          <p>
          You'll be able to code fluently in JavaScript or Python and be able to start building your own apps.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 l4 push-l7">
          <img
            src="https://www.londonappbrewery.com/wp-content/uploads/2015/10/Learn-App-Design-thumb.png"
            alt=""
            class="responsive-img materialboxed z-depth-0"
          />
        </div>
        <div class="col s12 l6 pull-l5 right-align offset-l1">
          <a href="#"><h5 class="red-text text-darken-4 center-align what-we-do">LEARN APP DESIGN</h5></a>
          <p>
            You'll know how to design beautiful apps and be familiar with mobile UI and UX design.
          </p>
        </div>
        </div>
        
      

      <div class="row">
        <div class="col s12 l4">
          <img
            src="https://www.londonappbrewery.com/wp-content/uploads/2015/10/Skyrocket-Your-App-Business-thumb.png"
            alt=""
            class="responsive-img materialboxed z-depth-0 center-align" width="50%"
          />
        </div>
        <div class="col s12 l6 offset-l1">
          <a href="#"><h5 class="red-text text-darken-4 center-align what-we-do">BUILD AN APP BUSINESS</h5></a>
          <p>
            We'll teach you how to get your app on the App Store and kickstart your business.
          </p>
        </div>
      </div>
      <div class="row">
        <div class=" col s12 l4 push-l7">
          <img
            src="https://www.londonappbrewery.com/wp-content/uploads/2017/05/get_certified-min.png"
            alt=""
            class="responsive-img materialboxed z-depth-0 center-align" width="50%"
          />
        </div>
        <div class="col s12 l6 offset-l1 pull-l5">
          <a href="#"><h5 class="red-text text-darken-4 center-align what-we-do">GET CERTIFIED</h5></a>
          <p>
            We'll get you certified in web and app development so you can get recognition for your new skills.
          </p>
        </div>
      </div>
      </div>
      </div>
    </section>

    <!-- parallax -->

    <div class="parallax-container">
      <div class="parallax responsive-img">
       
        <img src="img/phone.jpg" alt="" class="responsive-img" />
        
      </div>
    </div>

    <!-- courses / tabs -->

    <section class="container scrollspy section" id="courses">
      <div class="row">
        <div class="col s12 l5">
          <h2 class="red-text text-darken-4">Our Courses</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Reprehenderit, nesciunt sit quibusdam eveniet sequi voluptas illo
            iste soluta earum molestiae sapiente beatae possimus nihil rem vero
            similique sed nulla. Voluptatem!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            voluptate aliquam aperiam, magni provident officia!
          </p>
        </div>
        <div class="col s12 l7">
          <ul class="tabs">
            <li class="tab col s6">
              
              <a href="#frontend" class="red-text text-darken-4">Frontend<i class="fas fa-laptop-code red-text text-darken-4 center-align"></i></a>
            </li>
            <li class="tab col s6">
              <a href="#backend" class="red-text text-darken-4">Backend<i class="fas fa-server red-text text-darken-4 center-align"></i></a>
            </li>
          </ul>
          <div class="col s12" id="frontend">
          

            <p class="flow-text red-text text-darken-4">FRONTEND DEVELOPMENT</p>
            <p >
              The front end of a website is the part that users interact with. Everything that you see when you’re navigating around the Internet, from fonts and colors to dropdown menus and sliders, is a combo of HTML, CSS, and JavaScript being controlled by your computer’s browser.
            </p>
            <p class="truncate">
             Front-end developers are responsible for a website’s user-facing code and the architecture of its immersive user experiences. In order to execute those objectives, front-end devs must be adept at three main languages: HTML, CSS, and Javascript programming. In addition to fluency in these languages, front-end devs need to be familiar with frameworks like Bootstrap, Foundation, Backbone, AngularJS, and EmberJS, which ensure great-looking content no matter the device, and libraries like jQuery and LESS, which package code into a more useful, time-saving form. A lot of front-end developer job listings also call for experience with Ajax, a widely used technique for using Javascript that lets pages dynamically load by downloading server data in the background.
            </p>
          </div>
          <div class="col s12" id="backend">
            <p class="flow-text red-text text-darken-4">BACKEND DEVELOPMENT</p>
            <p>
              JavaScript is the only language that can be run both on the front
              and back end. Next, we show you how we can use Node.js to run code
              for the back end, and focus on ways of dealing with asynchronous
              programming. We'll look at APIs and databases, and cover Express
              and SQL. We’ll also work with some pretty cool third-party data
              sets and APIs, and help you deploy applications to the cloud!
            </p>
            <p class="truncate">
             So what makes the front end of a website possible? Where is all that data stored? This is where the back end comes in. The back end of a website consists of a server, an application, and a database. A back-end developer builds and maintains the technology that powers those components which, together, enable the user-facing side of the website to even exist in the first place.
            </p>
            
          </div>
        </div>
      </div>
    </section>
    <section class="container scrollspy section">
      <div class="row">
        <div class="col s12 l5">
          <video class="responsive-video" controls autoplay>
    <source src="img/banner.mp4" type="video/mp4">
  </video>
        </div>
        <div class="col s12 l7">
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#fullstack" class="red-text text-darken-4"
                >FULLSTACK <i class="fas fa-user-cog red-text text-darken-4 center-align"></i></a
              >
            </li>
            <li class="tab col s6">
              <a href="#graphics" class="red-text text-darken-4"
                >GRAPHICS DESIGN <i class="fas fa-palette red-text text-darken-4 center-align"></i></a
              >
            </li>
          </ul>
          <div class="col s12" id="fullstack">
            <p class="flow-text red-text text-darken-4">
              FULLSTACK DEVELOPMENT
            </p>
            <p>
              There’s often not a black-and-white distinction between front-end and back-end development. “Front-end developers often need to learn those additional back-end skills, and vice versa, especially in the current economy where marketing is thinly resourced,” said Matranga. “Developers need some of that cross-discipline. Oftentimes, you have to be a generalist.”
            </p>
            <blockquote class="quote">Full stack developers are jacks-of-all-trades.</blockquote>
            
          </div>
          <div class="col s12" id="graphics">
            <p class="flow-text red-text text-darken-4">GRAPHICS DESGIN</p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit, nesciunt sit quibusdam eveniet sequi voluptas illo
              iste soluta earum molestiae sapiente beatae possimus nihil rem
              vero similique sed nulla. Voluptatem!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              voluptate aliquam aperiam, magni provident officia!
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- parallax -->

    <div class="parallax-container">
      <div class="parallax">
        <img src="img/code.jpg" alt="" class="responsive-img" />
      </div>
    </div>

    <!-- contact form -->

    <section class="section scrollspy container" id="book">
      <div class="row">
        <div class="col s12 l5">
          
          <h2 class="red-text text-darken-4" >Get In Touch</h2>
          <span class="material-icons red-text text-darken-4">
place
</span>
         <address>
           <b>
 Address: Block B2, WAEC Building, Maitama, Abuja.
           Contact Numbers: +2348160197959 and +2348032745058
         </b>
          
         </address>
        </div>
        <div class="col s12 l5 offset-l2">
          <form action="/" method="POST">
            <div class="input-field">
              <i class="red-text text-darken-4 material-icons prefix">email</i>
              <input type="email" id="email" name="email" />
              <label for="email">Your Email</label>
            </div>
            <div class="input-field">
              <i class="red-text text-darken-4 material-icons prefix">message</i>
              <textarea
                name="message"
                id="message"
                class="materialize-textarea"
                cols="30"
                rows="10"
              ></textarea>
              <label for="message">Your Message</label>
            </div>
            <div class="input-field">
              <input type="text" id="date" class="datepicker" name="date"/>
              <label for="date">Choose a date to start...</label>
            </div>
            <div class="input-field">
              <p>courses required...</p>
              <p>
                <label>
                  <input type="checkbox"  name="frontend"/>
                  <span>Frontend Course</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="backend"/>
                  <span>Backend Course</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="fullstack"/>
                  <span>Fullstack Course</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="graphics"/>
                  <span>Graphic Designs Course</span>
                </label>
              </p>
            </div>
            <div class="input-field center">
              <button class="btn red darken-4 " type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  
<script type="text/javascript">
  const mode =()=> document.body.classList.toggle('dark');

  var wristbands = $("#toggle");

wristbands.on("scroll", function (e) {

    if (this.scrollTop > 900) {
        wristbands.css('display: block;');
    } else {
        wristbands.css('display: none;');
    }

});
</script>
    <%- include('footer') %> 