header {
        background-image: linear-gradient( rgba(109, 58, 58, 0.521), rgba(32, 29, 29, 0.651)), url("./img/students.jpg");
        background-size: cover;
        background-position: top;
        min-height: 70vh;
        
      }
      .section {
        padding-top: 4vw;
        padding-bottom: 4vw;
      }
      .tabs .indicator {
        background-color: #1a237e;
      }
      @media screen and (max-width: 670px) {
        header {
          min-height: 200px;
        }
      }

      #full-time-page > section:nth-child(10) {
        -webkit-tap-highlight-color: transparent;
        font-family: gotham-book;
        font-size: 15px;
        line-height: 22px;
        color: #0b0c0c;
        font-weight: 300;
        box-sizing: border-box;
        display: block;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #ededed;
      }
      .quote{
        border-left: crimson solid 7px;
        margin-left: 20px;
        padding: 10px;
      }
      .tabs .indicator {
  background-color: crimson;
}
[type="checkbox"]:checked+span:not(.lever):before{
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid crimson !important;
  border-bottom: 2px solid  crimson !important;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
[type="checkbox"]:checked+span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid crimson;
  border-bottom: 2px solid crimson;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.datepicker-date-display {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  background-color: crimson !important;
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: crimson !important;
  padding: 0 1rem;
}

.datepicker-table td.is-selected {
  background-color:crimson !important;
  color: #fff;
}
.nav{
  position: fixed;
  top: 0;
  z-index: 2;
}

.lead{
  padding-top: 60px;
  padding-bottom: 20px;
   
}

.what-we-do{
  border-bottom: rgb(180, 8, 8) 3px solid;
}

.intro-text {
  text-align: center;
  color: #FFF;
  line-height: 65px;
  z-index: 0;
  text-transform: uppercase;
  font-size: 55px;
  float: none;
  margin-top: 100px;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 700;
  line-height: 35px;
}

.dark{
color: #fff;
background-color: #333;

}

body{
  transition: all 0.5s ease-in;

}

/* #toggle {
    cursor: pointer;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    
      top: 50px;
        position: sticky;

} */

#toggle {
    position: fixed;
    top: 45vh;
    right: 30px;
    height: 100px;
    z-index: 999;
    cursor: pointer;
    font-size: 35px;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
  
}



#toggle::before {
    content: '🔆';
}

.dark #toggle::before {
    content: '🔅';
}
